<body>
  <div class="paint">
    <div class="ribbon">
      <div class="actions">
        <button id="undo">Undo</button>
        <button id="redo">Redo</button>
        <button id="save">Save</button>
        <button id="load">Load</button>
      </div>
      <div class="shapes">
        <button id="line">Line</button>
        <button id="circle">Circle</button>
        <button id="ellipse">Ellipse</button>
        <button id="triangle">Triangle</button>
        <button id="rectangle">Rectangle</button>
        <button id="square">Square</button>
      </div>
      <div class="tools">
        <input  id="Color"  type="color">
        <button id="fill">Fill</button>
        <button id="resize">Resize</button>
        <button id="move">Move</button>
        <button id="copy">Copy</button>
        <button id="delete">Delete</button>
      </div>
    </div><br>
    <canvas #canvas></canvas>
  </div>
</body>
