.ribbon{
    border: 3px outset ;
    border-radius: 20px;
    background-color:lightsteelblue;    
    width: auto;
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.actions{ 
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}
.shapes{
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0px 25px 0px 25px;
    border: 1px solid rgb(157, 166, 168);
    border-bottom-style: none;
    border-top-style: none;
}
.tools{
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

button{
    cursor: pointer;
    margin: 0px 15px 0px 15px;
    font-size: 15px;
    padding: 8px;
    border-radius: 5px;
}
input{
    cursor: pointer;
    margin: 0px 15px 0px 15px;
    height: 37px;
    width: 111px;
    border-radius: 5px;
}

canvas {
    border: 3px outset ;
    border-radius: 20px;
}
